@import 'variables';



.blog__entry {
	margin-top:40px;
	padding: 0 40px;

	h1 {
		font-size: 36px;
		color: $font-color;
		font-weight: 300;
	}
}

.blog__entry-date {
	font-size: 16px;
	color: $font-colorMD;
}

.blog__content {
	font-size: 15px;
	line-height: 27px;
}

.blog__author {
	font-size: 18px;
	color: $font-colorBlue;
	font-weight: 400;
}