<div class="side-bar__section side-bar__section--sod">
  <h6><i class="fa fa-tachometer" aria-hidden="true"></i> Stock of the Week:</h6>
  <div class="sod clearfix">
    <div class="sod__logo">
      <img class="align-middle" src="../../../assets/imgs/sod_logo.png">
    </div>
    <div class="sod__pgr sod__pgr--bullish">
      <p><span><img src="../../../assets/imgs/arc_VeryBullish.svg"></span> VERY BULLISH</p>
    </div>
    <div class="sod__pgr-sliders">
  		<ul class="pgrSliders">
			  <li>
          <div class="row">
	  				<div class="sliderLabel-container col-sm-4">
	  					<p class="pgrLabel">Financials</p>
	  				</div>
	  				<div class="sliderBar-container col-sm-8">
	  					<div class="sliderProgress">
          				<div class="slider-veryBearish"></div>
          				<div class="sliderBar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width:0%"></div>
        			</div>
        		</div>
          </div>
			  </li>
        <li>
          <div class="row">
            <div class="sliderLabel-container col-sm-4">
              <p class="pgrLabel">Earnings</p>
            </div>
            <div class="sliderBar-container col-sm-8">
              <div class="sliderProgress">
                  <div class="slider-neutral"></div>
                  <div class="sliderBar" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width:50%"></div>
              </div>
            </div>
          </div>
        </li>
        <li>
          <div class="row">
            <div class="sliderLabel-container col-sm-4">
              <p class="pgrLabel">Technicals</p>
            </div>
            <div class="sliderBar-container col-sm-8">
              <div class="sliderProgress">
                  <div class="slider-veryBullish"></div>
                  <div class="sliderBar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:100%"></div>
              </div>
            </div>
          </div>
        </li>
        <li>
          <div class="row">
            <div class="sliderLabel-container col-sm-4">
              <p class="pgrLabel">Experts</p>
            </div>
            <div class="sliderBar-container col-sm-8">
              <div class="sliderProgress">
                  <div class="slider-veryBearish"></div>
                  <div class="sliderBar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width:0%"></div>
              </div>
            </div>
          </div>
        </li>
		  </ul>
    </div>
    <div class="sod__pgr-report">
      <p><a href="">View the full stock summary &raquo;</a></p>
    </div>
  </div>
</div>

<div class="side-bar__section">
  <h6><i class="fa fa-lightbulb-o" aria-hidden="true"></i> About Marc Chaikin:</h6>
  <p>After more than 40 years on Wall Street as a trader, broker and analyst, Marc Chaikin founded Chaikin Analytics in 2009 to build on his legacy of delivering actionable equities research and analytics to professional money managers. Marc most recently created the Chaikin Power Gauge rating after years of working with institutional investors to help them improve their investment performance.</p>
  <p><a href="">Read more about Marc &raquo;</a></p>
</div>