@import 'variables';

.sod__pgr-sliders {
	.pgrSliders {
		padding: 5px 10px 0 0;

		.pgrLabel {
			margin: 0;
			font-size: 14px;
			line-height: 1.3;
			font-weight: 600;
		}
	}
}

.sod {
    margin-bottom: 60px;

    .sod__logo {
		height: 120px;
	    position: relative;
	    margin-bottom: 10px;

		img {
			width: 75%;
			max-width: 300px;
		}
	}

	.sod__pgr {
		text-align: center;

		img {
			display: inline-block;
			height: 100%;
			padding-right:5px;
			margin-top: -9px;
		}

		p {
			font-weight: 700;
			font-size: 24px;
			text-align: center;
		}
	}
}

.sod__pgr--bullish {
	p {
		color: $veryBullish-green;
	}
}

.sod__pgr--bearish {
	p {
		color: $veryBearish-red;
	}
}

.side-bar__section--sod {
	.slider-veryBullish {
	    margin-left: -34px;
	}
	.slider-neutral {
	    margin-left: -15px;
	}
	.slider-veryBearish {
	    margin-left: 10px;
	}
}

.sod__report-link {
	p {
		text-align: center;
	}
}












