<div class="row">
  <div class="col-sm-7 col-md-8 col-lg-9 action-header">

    <div class="action__alert" *ngFor="let alert of alerts">
      <div class="action__button">
        <i class="fa fa-exclamation-triangle align-middle" aria-hidden="true"></i>
      </div>
      <alert [type]="alert.type" dismissible="true">{{ alert.msg }}</alert>
    </div>

    <div class="action__switcher action__switcher--time">
      <div class="action__button action__button--morning"  *ngIf="this.greeting == 'morning'" >
        <img class="align-middle" src="../../../assets/imgs/icon-morning.svg">
      </div>
      <div class="action__button action__button--afternoon" *ngIf="this.greeting == 'afternoon'" >
        <img class="align-middle" src="../../../assets/imgs/icon-afternoon.svg">
      </div>
      <div class="action__button action__button--evening"  *ngIf="this.greeting == 'evening'" >
        <img class="align-middle" src="../../../assets/imgs/icon-night.svg">
      </div>
      <div class="action__headline">
        <p class="morning" *ngIf="this.greeting == 'morning'" >Good {{ this.greeting }}. Happy trading!</p>
        <p class="afternoon" *ngIf="this.greeting == 'afternoon'" >Good {{ this.greeting }}. Welcome back!</p>
        <p class="evening"  *ngIf="this.greeting == 'evening'" >Good {{ this.greeting }}. The market is closed.</p>
      </div>
    </div>
    <div class="action__switcher action__switcher--SP500">
      <div class="action__button">
        <img class="align-middle" src="../../../assets/imgs/icon-SPYup.svg">
      </div>
      <div class="action__headline">
        <p>The S&amp;P 500 is up!</p>
        <p><span class="divider"> | </span> <span class=""> 238.63 </span> <span class=""> +1.41 </span> <span class=""> (0.59%) </span></p>
      </div>
    </div>

    <div class="action__date">
      <p>{{ day }} &nbsp; • &nbsp; {{ date }} &nbsp; • &nbsp; {{ time }}</p>
    </div>
  </div>

  <div class="col-sm-5 col-md-4 col-lg-3 main-search">
    <psp-symbol-search></psp-symbol-search>
  </div>
</div>
 