<div class="row">
  <div class="col-sm-9  action-header">
    <div class="action-header__button action-header__button--morning">
      <img *ngIf="getGreetingTime() == 'morning'" class="align-middle" src="../../../assets/imgs/icon-morning.svg">
      <img *ngIf="getGreetingTime() == 'afternoon'" class="align-middle" src="../../../assets/imgs/icon-afternoon.svg">
      <img *ngIf="getGreetingTime() == 'evening'" class="align-middle" src="../../../assets/imgs/icon-night.svg">
    </div>
    <div class="action-header__headline action-header__headline--morning">
      <p>Good {{ getGreetingTime() }}. Welcome back!</p>
    </div>
    <div class="action-header__date">
      <p>{{ day }} &nbsp; • &nbsp; {{ date }} &nbsp; • &nbsp; {{ year }}</p>
    </div>
  </div>
  <div class="col-sm-3 main-search">
    <psp-symbol-search></psp-symbol-search>
  </div>
</div>
