@import 'variables';



.tile-container {
	padding:0 40px 140px;
	background: $background-grey;
	height:100vh;
	overflow-y: scroll;

	.tile-container__date {
		text-align: center;
		margin-top: 15px;
		margin-bottom: 15px;
		text-align: center;
		font-size: 14px;
		position: relative;
		width: 100%;
		border-top: 1px solid $line-grey;
		padding-top:15px;

		span {
			color: $font-colorMD;
		}

		.tile__collapse {
			position: absolute;
			top: 15px;
			right: 10px;
			cursor: pointer;

			i {
				font-size: 18px;
				color: $background-dkGrey;

				&:hover {
					color: $link-blue;
				}
			}
		}
		.collapse__hover-text {
			position: absolute;
			top: 14px;
			right: 40px;
			cursor: pointer;
			color: $link-blue;
		}
	}
	.tile-container__date--no-rule {
		border-top: 0;
		margin-top: 0;
	}
}
 





.tile {
	width: 100%;
	border: 1px solid $line-grey;
	background-color:#ffffff;
	margin-bottom: 40px;
	position: relative;
	box-shadow: 0 0px 3px rgba(0,0,0,0.1);
	cursor: pointer;
	display: flex;

	.tile__content {
		padding: 8px 10px 50px;

		.tile__content-title {
			font-size: 16px;
			color: $font-color;
			line-height: 23px;
			font-weight: 600;
			margin-bottom:3px;
		}

		.tile__content-author {
			font-size: 12px;
			color: $font-colorMD;
			font-weight: 700;
			font-style: italic;
		}

		.tile__content-date {
			font-size: 15px;
		    line-height: 1.5;
		    font-weight: 600;
		    margin-bottom: 10px;
		    border-bottom: 1px solid $line-grey;
		    padding-bottom: 5px;
		}	
	}
	.tile__category {
		position: absolute;
		text-align: center;
		width: 100%;
		bottom: 0;
		padding: 8px 0;

		p {
			font-size: 150%;
		    color: #FFFFFF;
		    font-weight: 300;
		    line-height: 1;
		    text-align: left;
		    padding-left: 10px;

			span {
			    font-weight:700;
			}
		}
	}
}

.tile__market-insights {
	.tile__category {
		background-image: $tile-greenGradient;
		box-shadow: $tile-greenShadow; 
	}
	.tile__content-date {
		color:$bullish-green;
	}

	&:hover {
		outline-offset: -3px;
		outline: 2px solid $bullish-green;
	}
}

.tile__morning-insights {
	.tile__category {
		background-image: $tile-purpleGradient;
		box-shadow: $tile-purpleShadow; 
	}
	.tile__content-date {
		color: #3023AE;
	}

	&:hover {
		outline-offset: -3px;
		outline: 2px solid #3023AE;
	}
}

.tile__category--powerfeed  {
	background-image: linear-gradient(-180deg, #1199FF 0%, #0255DB 100%);
	box-shadow:  inset 0 -3px 0px 0px #014BA0;
}



.load-more {
	border-top: 1px solid $line-grey;
	padding: 15px 0px;
	text-align: center;

	a {
		font-size: 14px;
		color: $font-color;
		cursor: pointer;
		text-align: center;
	}
}


