<!-- Example single info button -->
<div class="btn-group" dropdown>
    <button dropdownToggle type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Select a date
    </button>
    <ul *dropdownMenu class="dropdown-menu" role="menu">
        <li class="dropdown-item" href="#"><a>Action</a></li>
        <li class="dropdown-item" href="#"><a>Another action</a></li>
        <li class="dropdown-item" href="#"><a>Something else here</a></li>
        <li class="dropdown-divider"></li>
        <li class="dropdown-item" href="#"><a>Separated link</a></li>
    </ul>
</div>