@import 'variables';

.form-inline {
	float: left;
	text-align: center;
}

.form-group {
}

.search-box {
	text-align: left;
	padding: 0;
	border:0;
	font-size: 20px;
	margin-left: 15px;
	font-weight: 300;
	font-family: 'Open Sans', sans-serif;
}

.search-submit {
	width: 60px;
	box-shadow:  inset 0 -3px 0px 0px $button-orangeDK;
	height: 60px;
	background-color: $button-orange;
	border-right: 1px solid #ffffff;

}

.fa-search {
	font-size: 28px;
	line-height: 60px;
	color: #ffffff;
}

::-webkit-input-placeholder { /* Chrome */
  color: #cccccc;
  font-weight: 300;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #cccccc;
   font-weight: 300;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #cccccc;
  opacity: 1;
  font-weight: 300;
}
:-moz-placeholder { /* Firefox 4 - 18 */
  color: #cccccc;
  opacity: 1;
  font-weight: 300;
}