<div>
    <div>
        <h3>Watchlist</h3>
        <button type="button" class="pull-right btn btn-default btn-secondary" popover="Vivamus sagittis lacus vel augue laoreet rutrum faucibus." popoverTitle="Popover on right" placement="right" triggers="focus">
          <i class="fa fa-question-circle-o" aria-hidden="true"></i>
        </button>
        <psp-powerbar></psp-powerbar>
    </div>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Rating</th>
                <th>Symbol</th>
                <th (click)="sortByDailyChange()">
                    <span>Change</span>
                    <span *ngIf="sortWatchList === 'up'">
                        <i class="fa fa-caret-up fa-1 float-right" aria-hidden="true"></i>
                    </span>
                    <span *ngIf="sortWatchList === 'down'">
                        <i class="fa fa-caret-down fa-1 float-right" aria-hidden="true"></i>
                    </span>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let stock of watchlist">
                <td><img src="../../../assets/imgs/{{displayRating(stock['metaInfo'][0]['raw_PGR'], stock['metaInfo'][0]['PGR'])}}.png" /></td>
                <td>
                    <span>{{stock['metaInfo'][0]['symbol']}}</span>
                    <span>{{stock['metaInfo'][0]['name']}}</span>
                </td>
                <td>
                    <span>{{stock['metaInfo'][0]['Change']}}</span>
                    <span *ngIf="stock['metaInfo'][0]['Percentage '] > 0">
                      <i class="fa fa-caret-up fa-1 green" aria-hidden="true"></i>
                    </span>
                    <span *ngIf="stock['metaInfo'][0]['Percentage '] < 0">
                      <i class="fa fa-caret-down fa-1 red" aria-hidden="true"></i>
                    </span>
                    <span *ngIf="stock['metaInfo'][0]['Percentage '] == 0">
                      <span>UNCH%</span>
                    </span>
                    <span *ngIf="stock['metaInfo'][0]['Percentage '] != 0">{{stock['metaInfo'][0]['Percentage ']}}%</span>
                </td>
            </tr>
        </tbody>
    </table>
</div>