<div class="container-fluid">
    <nav class="row navbar-light bg-faded">
        <div class="col-1">
            <img src="../../../assets/imgs/logo.png" class="img-fluid" routerLink="/" />
        </div>

        <div *ngIf="!settingsVisible" class="col-4">
            <psp-navbar></psp-navbar>
        </div>

        <div *ngIf="settingsVisible" class="col">
            <psp-settings></psp-settings>
        </div>

        <div class="col-1">
            <button [hidden]="settingsVisible" (click)="toggle()" class="borderz">Settings</button>
            <button [hidden]="!settingsVisible" (click)="toggle()" type="button" class="close" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </nav>
</div>
