<div class="container-fluid">
  <psp-symbol-search></psp-symbol-search>
  <div class="filter-insights-section">
    <h6>SHOW ONLY:</h6>
    <div>
      <input type="checkbox">
      <label>Market Insights</label>
    </div>
    <div>
      <input type="checkbox">
      <label>Morning Insights</label>
    </div>
    <div>
      <input type="checkbox">
      <label>Powerfeed</label>
    </div>
  </div>

  <div class="view-week-filter">
    <h6>VIEW WEEK OF:</h6>
  </div>

  <div class="bios">
    <h6>READ MORE ABOUT:</h6>
  </div>
</div>
