 @import 'variables';


.side-bar__filter {
	margin-bottom: 40px;

	div {
		margin-left: 10px;
	}
	label {
		font-size: 16px;
		margin-left:10px;
	}
}

.side-bar__list {
	li {
		font-size: 16px;
		margin-bottom:10px;
	}
	ul {
		margin:15px 10px 30px;
	}

	a {
		color: $font-color;
		text-decoration: none;

		&:hover {
			color: $link-blue;
			text-decoration: underline;
		}
	}
}