<div class="side-bar__filter">
    <h6><i class="fa fa-low-vision" aria-hidden="true"></i> Show Only:</h6>
    <div>
      <input type="checkbox">
      <label>Market Insights</label>
    </div>
    <div>
      <input type="checkbox">
      <label>Morning Insights</label>
    </div>
    <div>
      <input type="checkbox">
      <label>PowerFeed</label>
    </div>
</div>
<div class="side-bar__list">
    <h6><i class="fa fa-calendar" aria-hidden="true"></i> View Week Of:</h6>
    <div>
      <ul>
        <li><a href="">Sunday, April 16, 2017</a></li>
        <li><a href="">Sunday, April 9, 2017</a></li>
        <li><a href="">Sunday, April 2, 2017</a></li>
        <li><a href="">Sunday, March 27, 2017</a></li>
        <li><a href="">Sunday, March 21, 2017</a></li>
        <li><a href="">Sunday, March 14, 2017</a></li>
        <li><a href="">Sunday, March 7, 2017</a></li>
        <li><a class="link" href="">Archive &raquo;</a></li>
      </ul>
    </div>
</div>
<div class="side-bar__list">
    <h6><i class="fa fa-lightbulb-o" aria-hidden="true"></i> Read More About:</h6>
    <ul>
      <li><a (click)="gotoAbout('marc-chaikin')">Marc Chaikin</a>, <span><em>Market Insights</em></span></li>
      <li><a (click)="gotoAbout('john-schlitz')">John Schlitz</a>, <span><em>Morning Insights</em></span></li>
      <li><a (click)="gotoAbout('chaikin-analytics')">Chaikin Analytics</a>, <span><em>PowerFeed</em></span></li>
    </ul>
</div>
