@import 'variables';


.pgr-accordian__main-rating {
    width: 100%;
    height: 113px;

    .main-rating--verybullish {
        height: 113px;
        position: relative;
        background-color: #24A300;
        box-shadow: inset 0 -3px 0 0 #1C8100;
    }

    .main-rating--bullish {
        height: 113px;
        position: relative;
        background-color: #7ED321;
        box-shadow: inset 0 -3px 0 0 #5DB200;
    }
    .main-rating--neutral {
        height: 113px;
        position: relative;
        background-color: #FFB843;
        box-shadow: inset 0 -3px 0 0 #F89A00;
    }

    .main-rating--bearish {
        height: 113px;
        position: relative;
        background-color: #DF430E;
        box-shadow: inset 0 -3px 0 0 #C43100;
    }
    .main-rating--verybearish {
        height: 113px;
        position: relative;
        background-color: #DA001A;
        box-shadow: inset 0 -3px 0 0 #B00015;
    }
}

.pgr-factor__header {
    font-weight: 600;
    font-size: 20px; 
    font-color: $font-color;
    position: relative;
    text-transform: uppercase;
}

.pgr-factor__header i {
    font-size: 20px;
    color: #cccccc;
    margin-right:10px;
    line-height: 30px;
}

.sliderBar-container--main .sliderProgress {
    height: 26px;
}

.sliderBar-container--main .sliderBar {

}
 
.sliderBar-container--main .slider-veryBearish {
    background-color: #e00000;
    left: 0%;
    position: absolute;
    margin-top: -4px;
    margin-left:4px;
    z-index: 1;
    height: 34px;
    width: 34px;
    border-radius: 35px;
    border: 4px solid #ffffff;
}

.sliderBar-container--main .slider-bearish {
    background-color: #ef5a00;
    left: 25%;
    position: absolute;
    margin-top: -4px;
    margin-left:-10px;
    z-index: 1;
    height: 34px;
    width: 34px;
    border-radius: 35px;
    border: 4px solid #ffffff;
}

.sliderBar-container--main .slider-neutral {
    background-color: #ffbe00;
    left: 50%;
    position: absolute;
    margin-top: -4px;
    margin-left:-17px;
    z-index: 1;
    height: 34px;
    width: 34px;
    border-radius: 35px;
    border: 4px solid #ffffff;
}

.sliderBar-container--main .slider-bullish {
    background-color: #61c600;
    left: 75%;
    position: absolute;
    margin-top: -4px;
    margin-left:-22px;
    z-index: 1;
    height: 34px;
    width: 34px;
    border-radius: 35px;
    border: 4px solid #ffffff;
}

.sliderBar-container--main .slider-veryBullish {
    background-color: #24a300;
    left: 100%;
    position: absolute;
    margin-top: -4px;
    margin-left:-29px;
    z-index: 1;
    height: 34px;
    width: 34px;
    border-radius: 35px;
    border: 4px solid #ffffff;
}

.sliderBar-container--sub .sliderProgress {
    margin-bottom: 0px;
    margin-top: 5px;
}

.sliderBar-container--sub .sliderBar {
    margin-bottom: 7px;
}
 
.sliderBar-container--sub .slider-veryBearish {
    margin-top: -4px;
    margin-left: 20px;
}

.sliderBar-container--sub .slider-bearish {
    margin-top: -4px;
    margin-left: 10px;
}

.sliderBar-container--sub .slider-neutral {
    margin-top: -4px;
    margin-left: -7px;
}

.sliderBar-container--sub .slider-bullish {
    margin-top: -4px;
    margin-left:-22px;
}

.sliderBar-container--sub .slider-veryBullish {
    margin-top: -4px;
    margin-left:-30px;
}

.pgr__component-question {
    position: absolute;
    top: 44px;
    right: 10px;
    background: #ffffff;
    font-size: 20px;
    color: #cccccc;

    &:hover {
        color: $link-blue;
    }
    &:active {
        color: $link-blue;
    }
}



















