<div class="container-fluid">
    <nav class="borderz row navbar-light bg-faded">
        <div class="col-4">
            <h1 class="navbar-brand mb-0">MARKET INSIGHTS</h1>
        </div>

        <div class="col-4">
            <button type="button" class="btn btn-default btn-secondary" popover="I'm Marc Chaikin and I like stocks." popoverTitle="Marc Chaikin" placement="bottom" triggers="focus">
                Marc Chaikin Bio
            </button>
        </div>

        <div class="col-4">
            <psp-date-dropdown></psp-date-dropdown>
        </div>
    </nav>
</div>