<!-- Just an image -->
<div class="row body__header">
  <div class="body__header-icon">
    <img class="align-middle" src="../../../assets/imgs/icon-lightbulb.svg" width="25" height="27">
  </div>
  <div class="body__header-title">
    <p>Chaikin Insights</p>
  </div>
    <button *ngIf="returnIconVisible" (click)="goBack()" type="button" class="body__header-back" aria-label="Close">
      <img class="align-middle" src="../../../assets/imgs/icon-back.svg" width="24" height="22">
    </button> 
</div>