<ul class="settings__menu nav nav-justified">
    <li dropdown class="nav-item">
        <a href dropdownToggle (click)="false">Account</a>
        <ul *dropdownMenu class="dropdown-menu">
            <li *ngFor="let choice of accountItems">
                <img src="{{choice.icon}}"/><a class="dropdown-item" routerLink="{{choice.link}}">{{choice.desc}}</a>
            </li>
        </ul>
    </li>|

    <li dropdown class="nav-item">
        <a href dropdownToggle (click)="false">Help</a>
        <ul *dropdownMenu class="dropdown-menu">
            <li *ngFor="let choice of helpItems">
                <img src="{{choice.icon}}"/><a class="dropdown-item" routerLink="{{choice.link}}">{{choice.desc}}</a>
            </li>
        </ul>
    </li>|

    <li dropdown class="nav-item">
        <a href dropdownToggle (click)="false">Chaikin Analytics</a>
        <ul *dropdownMenu class="dropdown-menu">
            <li *ngFor="let choice of chaikinItems">
                <img src="{{choice.icon}}"/><a class="dropdown-item" routerLink="{{choice.link}}">{{choice.desc}}</a>
            </li>
        </ul>
    </li>|
</ul>