<ul class="nav nav-justified">
  <li class="nav-item">
    <button type="button" class="nav-link" routerLink="/market-insights" routerLinkActive="active"><i class="fa fa-lightbulb-o" aria-hidden="true"></i> Chaikin Insights</button>
  </li>
  <li class="nav-item">
    <button type="button" class="nav-link" routerLink="/power-gauge-report" routerLinkActive="active"><i class="fa fa-tachometer" aria-hidden="true"></i> Stock Summary</button>
  </li>
  <li class="nav-item">
    <button type="button" class="nav-link" routerLink="/portfolio-health-check" routerLinkActive="active"><i class="fa fa-heartbeat" aria-hidden="true"></i> Health Check</button>
  </li>
</ul>