
<div class="side-bar__section">
    <h6><i class="fa fa-lightbulb-o" aria-hidden="true"></i> Read More About:</h6>
    <ul>
      <li><a>Marc Chaikin</a>, <span><em>Market Insights</em></span></li>
      <li><a>John Schlitz</a>, <span><em>Morning Insights</em></span></li>
      <li><a>Chaikin Analytics</a>, <span><em>PowerFeed</em></span></li>
    </ul>
</div>

<div class="side-bar__section">
    <h6><i class="fa fa-comments-o" aria-hidden="true"></i> Stay In Touch:</h6>
    <ul>
      	<li><i class="fa fa-twitter icon__social icon__social--tw" aria-hidden="true"></i> <a href="">@MarcChaikin</a></li>
      	<li><i class="fa fa-facebook icon__social icon__social--fb" aria-hidden="true"></i> <a href="">/ChaikinAnalytic/</a></li>
      	<li><i class="fa fa-linkedin-square icon__social icon__social--in" aria-hidden="true"></i> <a href="">/chaikin-analytics-llc</a></li>
      	<li><i class="fa fa-youtube-play icon__social icon__social--yt" aria-hidden="true"></i> <a href="">/ChaikinStockResearch</a></li>
    </ul>
</div>