/* You can add global styles to this file, and also import other style files */
@import 'variables';
@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import "../node_modules/angular2-busy/build/style/busy.css";

body, html {
  height: 100vh;
  overflow:hidden;
  color: $font-color;
  font-family: $font-stack;
}

p, span, label, li {
    margin:0;
	padding:0;
}

ul, li {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

table {
    width: 100%;
}

button {
	border:0;
    background-color: transparent;
    outline:0;
}

textarea, input, button {
    outline: none !important;
}

h6 {
	font-size: 14px;
	font-family: $font-stack;
	color: #4A4A4A;
	letter-spacing: 0.25px;
	text-transform: uppercase;
	line-height: 30px;
	border-bottom: 1px solid $line-grey;
	text-align: left;
	margin: 11px 20px 10px 10px;
	font-weight: 600;
	padding-left: 10px;
}

h6 i {
	margin-right: 5px;
}






.change--down {
    color: $veryBearish-red;
}
.change--up {
    color: $veryBullish-green;
}

.bullish {
    color: $bullish-green;
}
.bearish {
    color: $bearish-red;
}
.neutral {
    color: $neutral-yellow;
}
.verybullish {
    color: $veryBullish-green;
}

.verybearish {
    color: $veryBearish-red;
}

.icon__social--tw {
    color: #1199ff;
}
.icon__social--fb {
    color: #003366;
}
.icon__social--in {
    color: #5A95DA;
}
.icon__social--yt {
    color: #D0021B;
}






.align-middle {
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
}





.flex {
    display: flex !important;
}





.side-bar {
    border-left: 1px solid #cccccc;
    height: 100vh;
    overflow-y: scroll;
    padding-bottom: 135px;
}

.side-bar__section {
    margin-bottom: 50px;

    p {
        font-size: 13px;
        margin: 0 20px 10px 20px;
        line-height: 1.5;
    }

    ul {
        margin:15px 10px 30px 20px;

        li {
            font-size: 15px;
            margin-bottom:10px;

            .icon__social {
                font-size: 18px;
                margin-right:5px;
                width: 28px;
                text-align: center;
            }
        }
    }

    a {
        color: $font-color;
        text-decoration: none;
        cursor: pointer;

        &:hover {
            color: $link-blue;
            text-decoration: underline;
        }
    }
}

.side-bar__section--filter {
    div {
        margin-left: 20px;
    }

    label {
        font-size: 18px;
        margin-left: 10px;
        margin-bottom: 10px;
    }
}





/*                                      */
/*             PGR T0GGLE               */
/*                                      */






.card {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: #ffffff;
    border-bottom: 1px solid $line-grey;
    border-right: 0;
    border-radius: 0;
    border-top: 0;
    border-left: 0;
}

.card-header {
    padding: 10px;
    margin-bottom: 0;
    background-color: #ffffff;
    border:0;
}

.card-title {
    margin-bottom: 0;
}


.card-block {
  padding: 0px 10px 10px 24px;

  span {
    font-size: 11px;
    font-weight: 600;
  }
}




.popover {
  position: absolute;
  top: 0;
  left: 0px;
  z-index: 1060;
  display: block;
  max-width: 450px;
  min-width: 400px;
  height: 320px;
  padding: 0px;
  line-break: auto;
  line-height: 1.5;
  text-align: left;
  text-align: start;
  text-decoration: none;
  text-shadow: none;
  text-transform: none;
  white-space: normal;
  word-break: normal;
  word-spacing: normal;
  font-size: 0.875rem;
  word-wrap: break-word;
  background-color: #fff;
  -webkit-background-clip: padding-box;
          background-clip: padding-box;
  border: 1px solid $line-grey;
  border-radius: 0rem;
  box-shadow: 1px 0px 3px rgba(0,0,0,0.15);
}

.popover.popover-right, .popover.bs-tether-element-attached-left {
  margin-left: 10px;
  margin-top: 97px;
}

.popover.popover-right::before, .popover.popover-right::after, .popover.bs-tether-element-attached-left::before, .popover.bs-tether-element-attached-left::after {
  top: 60px;
  border-left-width: 0;
}

.popover.popover-right::before, .popover.bs-tether-element-attached-left::before {
  left: -11px;
  margin-top: -11px;
  border-right-color: rgba(0, 0, 0, 0.25);
}

.popover.popover-right::after, .popover.bs-tether-element-attached-left::after {
  left: -10px;
  margin-top: -10px;
  border-right-color: #fff;
}

.popover-title {
  padding: 8px 14px;
  margin-bottom: 0;
  font-size: 18px;
  background-color: $link-blue;
  border-bottom: 3px solid $link-blueDK;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  color: #ffffff;
}

.popover-title:empty {
  display: none;
}

.popover-content {
  padding: 10px 15px 20px;
}

.popover::before,
.popover::after {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}

.popover::before {
  content: "";
  border-width: 11px;
}

.popover::after {
  content: "";
  border-width: 10px;
}




.form-inline .form-control {
    width: 400px;
}





.action__alert {
    text-align: center;

    .alert-danger {
        background-color: #FF3D55;
        border-color: #D0021B;
        color: #ffffff;
    }
    .alert {
        padding: 1rem 1.25rem 0;
        margin-bottom: 1rem;
        border-top:1px solid $line-grey;
        border-bottom:1px solid $line-grey;
        border-right:0px solid $line-grey;
        border-left:0px solid $line-grey;
        border-radius: 0;
        height: 60px;
        font-size: 18px;
        font-weight: 600;
    }
    .close {
        float: right;
        font-size: 1.5rem;
        font-weight: bold;
        line-height: 1;
        color: #fff;
        text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
        opacity: .9;
    }
}



/*                                      */
/*             PGR SLIDERS              */
/*                                      */





.sliderProgress {
    height: 16px;
    margin-bottom: 7px;
    overflow: hidden;
    background: #E3E3E3 ; /* Old browsers */
    background: -moz-linear-gradient(left, rgba(224,0,0,0.1) 0%, rgba(239,90,0,0.1) 25%, rgba(255,190,0,0.1) 50%, rgba(97,198,0,0.1) 75%, rgba(36,163,0,0.1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(224,0,0,0.1) 0%,rgba(239,90,0,0.1) 25%,rgba(255,190,0,0.1) 50%,rgba(97,198,0,0.1) 75%,rgba(36,163,0,0.1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(224,0,0,0.1) 0%,rgba(239,90,0,0.1) 25%,rgba(255,190,0,0.1) 50%,rgba(97,198,0,0.1) 75%,rgba(36,163,0,0.1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1ae00000', endColorstr='#1a24a300',GradientType=1 ); /* IE6-9 */
    border-radius: 0;
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
    box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
}

.sliderBar {
    float: left;
    width: 0;
    height: 100%;
    font-size: 12px;
    line-height: 20px;
    color: #fff;
    text-align: center;
}

.slider-veryBearish {
    background-color: #e00000;
    left: 0%;
    position: absolute;
    margin-top: -4px;
    margin-left:7px;
    z-index: 1;
    height: 23px;
    width: 23px;
    border-radius: 25px;
    border: 4px solid #ffffff;
}

.slider-bearish {
    background-color: #ef5a00;
    left: 25%;
    position: absolute;
    margin-top: -4px;
    margin-left:0px;
    z-index: 1;
    height: 23px;
    width: 23px;
    border-radius: 25px;
    border: 4px solid #ffffff;
}

.slider-neutral {
    background-color: #ffbe00;
    left: 50%;
    position: absolute;
    margin-top: -4px;
    margin-left:0px;
    z-index: 1;
    height: 23px;
    width: 23px;
    border-radius: 25px;
    border: 4px solid #ffffff;
}

.slider-bullish {
    background-color: #61c600;
    left: 75%;
    position: absolute;
    margin-top: -4px;
    margin-left:-15px;
    z-index: 1;
    height: 23px;
    width: 23px;
    border-radius: 25px;
    border: 4px solid #ffffff;
}

.slider-veryBullish {
    background-color: #24a300;
    left: 100%;
    position: absolute;
    margin-top: -4px;
    margin-left:-19px;
    z-index: 1;
    height: 23px;
    width: 23px;
    border-radius: 25px;
    border: 4px solid #ffffff;
}




