$chaikin-green: #24a300;
$chaikin-black: #333333;

$veryBullish-green: #24A300;
$bullish-green: #7ED321;
$neutral-yellow: #FF9900;
$bearish-red: #FD4500;
$veryBearish-red: #EB001C;

$background-ltGrey: #FAFAFA;
$background-grey: #EEEEEE;
$background-dkGrey: #333333;


$button-nav: #666666;
$button-navDK: #4A4A4A;


$line-grey: #CCCCCC;


$button-orange: #FFB843;
$button-orangeDK: #F89A00;


$link-blue: #1199ff;
$link-blueDK: #0074FB;


$font-stack: 'Open Sans', Helvetica, sans-serif;
$font-color: #4A4A4A;
$font-colorLT: #CCCCCC;
$font-colorBlue: #003366;


$tile-greenGradient: linear-gradient(-180deg, #B4ED50 0%, #006A27 100%);
$tile-greenShadow: #245C02;