$chaikin-green: #24a300;
$chaikin-black: #333333;

$veryBullish-green: #24A300;
$bullish-green: #7ED321;
$neutral-yellow: #FF9900;
$bearish-red: #FD4500;
$veryBearish-red: #EB001C;

$background-ltGrey: #FAFAFA;
$background-grey: #EEEEEE;
$background-dkGrey: #333333;


$button-nav: #666666;
$button-navDK: #4A4A4A;


$line-grey: #CCCCCC;
$line-greyLT: #EEEEEE;

$button-orange: #FFB843;
$button-orangeDK: #F89A00;

$button-bullish: #7ED321;
$button-bullish-shadow: #5DB200;

$button-bearish: #DF430E;
$button-bearish-shadow: #C43100;

$button-veryBearish: #EB001C;
$button-veryBearish-shadow: #B00015;

$link-blue: #1199ff;
$link-blueDK: #1A84FE;


$font-stack: 'Open Sans', Helvetica, sans-serif;
$font-color: #4A4A4A;
$font-colorLT: #CCCCCC;
$font-colorMD: #999999;
$font-colorBlue: #003366;


$tile-greenGradient: linear-gradient(-180deg, #B4ED50 0%, #006A27 100%);
$tile-greenShadow: inset 0 -3px 0px 0px #245C02;

$tile-purpleGradient: linear-gradient(0deg, #3023AE 0%, #5F25FB 100%);
$tile-purpleShadow: inset 0 -3px 0px 0px #2B0071;