@import 'variables';



.report-action__container {
	background-color: $background-ltGrey;
	height: 40px;
	box-shadow:  inset 0 -1px 0px 0px $line-grey;
	overflow: hidden;
	width:100%;
	padding:0;
	border-left: 1px solid #cccccc;
}

.body__report-icon {
	width: 60px;
	border-right: 1px solid #ffffff;
	box-shadow:  inset 0 -3px 0px 0px $link-blueDK;
	float: left;
	height: 40px;
	background-color: $link-blue;
	position: relative;
}

.body__report-title {
	float:left;
	margin-left:4%;
	font-size: 12px;
	color: $font-color;
	font-style: italic;
	line-height: 40px;
	font-weight: 400;
}





.pgr__side-bar {
	padding:0;
	margin-top: 0;
	border-right:1px solid $line-grey;
	background-color: #EEEEEE;
	float: left;
	height: 100vh;
	position: relative;

	.accordian__container {
		width: 205px;

		.icon__learn-more {
			position: absolute;
			bottom:140px;
			right:0px;
		}
	}
 }





.stock-summary__container {
	float: left;
	overflow-y: scroll;
	height: 100vh;
	padding: 20px 30px;

	.stock__profile {
		padding:0px 20px 0px 25px;

		.stock__id {
			width: 100%;
			display:block;

			p {
				float: left;
				font-size: 28px;
				color: $font-color;
				margin:0;
				padding:0;
				white-space: nowrap;

				a {
					margin-left:5px;
					font-size: 20px;
					color: $font-colorLT;

					.iconInfo {
						float:left;
					}
				}
			}
			.company {

				.ticker {
					font-weight: 700;
					margin-left: 30px;
				}	
			}
			.action-buttons {
				float:right;
				margin-top:10px;

				a {
					font-size: 20px;
					color: $font-colorLT;
					padding: 0px 8px 0 0;
				}
			}
		}

		.stock__price {

			p {
				font-size: 26px;
				margin:0;
				padding:0;
				white-space: nowrap;

				span {
					margin-right: 50px;
					font-weight: 400;

					.Last_price {
						font-weight: 600 !important;
					}
				}
			}
		}

		.stock__main-data {
			padding:5px 0;

			p {
				margin:0;
			}

			.label {
				font-size: 13px;
				white-space: nowrap;
			  	overflow: visible;
			  	text-overflow: ellipsis;
			  	text-align: left;
			  	font-weight: 400;

			  	.data {
					font-size: 16px;
					margin: 0 0 0 10px;
					font-weight: 600;
					text-align: right;
				}
			}
		}
	}

	.stock__sentence {
		padding:0 40px;
		border-left: 1px solid $line-grey;
		font-size: 16px;

		div {
			margin-bottom: 10px;
		}
		.stock__sentence-factor {
			font-size: 26px;
			margin:0 0 10px;
			padding:0;
			font-weight: 400;

			span {
				font-weight: 700;
				margin-left:15px;
			}
		}
	}
}




.standardHeader {
	background-color: $background-ltGrey;
	padding: 7px 0px 7px 10px;
	width: 100%;
	margin-bottom:15px;
	border-bottom: 1px solid $background-grey;
	position: relative;

	p {
		padding:2px 0 0 0;
		margin:0;
		line-height: 1;
	}

	.headerLabel {
		font-size: 13px;
		font-weight: 300;
		color: #4A4A4A;
	}

	.headerLabel-large {
		font-size: 18px;
	}
}





.data-container {
	padding:0 10px;
	margin-top: -10px;
	margin-bottom:20px;

	p {
		margin-bottom:4px;
		font-size: 14px;
	}

	a {
		color: $link-blue;
		text-decoration: none;

		&:hover {
			color: $link-blue;
			text-decoration: none;
		}
	}

	table {
		width: 100%;

		tr {
			td {
				font-size: 15px;
				text-align: center;
  				padding: 4px 0;
  				white-space: nowrap;
  				overflow: visible;
  				width: 90px;

  				span {
  					font-weight: 600;
  				}
			}
			.label {
				text-align: left;
			}
			.data {
				text-align: right;
			}
		}

		th {
			font-size: 13px;
  			padding: 3px 0;
  			text-align: center;

  			span {
  				font-weight: 400;	
  			}
		}

		tbody {
			tr {
				&:hover  {
					background-color: $background-ltGrey;
				}
			}
		}
	}
}


































