@import 'variables';



.report-action__container {
	background-color: $button-nav;
	height: 40px;
	overflow: hidden;
	width:100%;  
	padding:0;
	border-left: 1px solid #ffffff;
}

.body__report-icon {
	width: 80px;
	border-right: 1px solid #ffffff;
	box-shadow:  inset 0 -3px 0px 0px $button-navDK;
	float: left;
	height: 40px;
	background-color: $button-nav;
	position: relative;
	font-size: 20px;
	line-height: 38px;
	color: #ffffff;
	text-align: center;

	&:hover {
		box-shadow:  inset 0 -3px 0px 0px $link-blueDK;
		background-color: $link-blue;
	}
}

.body__report-title {
	float:left;
	margin-left: 4%;
	font-size: 12px;
	color: #ffffff;
	font-style: italic;
	line-height: 40px;
	font-weight: 400;
}




.pgr__side-bar {
	padding: 0 0 140px 0;
	margin-top: 0;
	margin-left: -1px;
	border-right: 1px solid $line-grey;
	background-color: $background-dkGrey;
	float: left;
	height: 100vh;
	position: absolute;
	z-index: 501;

	.accordian__container {
		width: 205px;
		float: left;

		.icon__learn-more {
			position: absolute;
			bottom: 136px;
			right: 0;
			font-size: 20px;
			color: $font-colorLT;
		}
	}
	.pgr__learn-container {
		float: left;
		color: #ffffff;

		.pgr__learn {
			padding: 20px 30px;
			margin-top: 50px;

			h2 {
				font-weight: 300;
				font-family: $font-stack;
				margin-bottom: 35px;
				border-bottom: 1px solid $line-grey;
				line-height: 1.4;
			}

			h5 {
				font-weight: 600;
				font-family: $font-stack;
				margin-bottom: 10px;
				font-size: 20px;
			}

			p {
				font-size: 15px;
				font-weight: 400;
				line-height: 1.6;
				margin-bottom: 15px;
			}
		}
	}
}



.stock-summary__container {
	float: left;
	padding: 15px 30px 0px 30px;
	margin-left: 205px;
	position: relative;

	.stock__profile {
		border-bottom: 1px solid $line-grey;
		margin-bottom: 0px;
		padding-bottom: 5px;

		.stock__id {
			p {
				font-size: 30px;
				margin:0;
				padding:0;
				float: left;
			} 

			.company {
				font-weight: 600;
			}

			.ticker {
				font-weight: 700;
				margin-left: 30px;

				span {
					font-weight: 400;
				}
			}	

			.action-buttons {
				float:right;

				a {
					font-size: 30px;
					color: $font-colorLT;
					padding: 0 15px 0 0;
				}
			}
		}
		.stock__price {
			p {
				font-size: 28px;
				margin:0;
				padding:0;
				line-height: 1.7;

				span {
					margin-right: 50px;
					font-weight: 400;
				}

				.Last_price {
					font-weight: 600 !important;
				}
			}
		}
		.stock__main-data {
			padding: 2px 0;

			p {
				margin:0;
			}
			
			.label {
				font-size: 13px;
				white-space: nowrap;
			  	overflow: visible;
			  	text-overflow: ellipsis;
			  	text-align: left;
			  	font-weight: 400;

			  	.data {
					font-size: 16px;
					margin: 0 0 0 10px;
					font-weight: 600;
					text-align: right;
				}
			}
		}
	}

	.stock__summary {
		overflow-y: scroll;
		overflow-x: hidden;
		height: 100vh;
		padding:40px 0 251px;

		.stock__sentence {
			font-size: 16px;
			margin-bottom: 30px;

			div {
				margin-bottom: 10px;
				padding: 0 10px;
			}
			.stock__sentence-factor {
				font-size: 26px;
				margin: 0px 0 20px;
				padding: 0 0 0 10px;
				font-weight: 400;
				line-height: 1;

				span {
					font-weight: 700;
					margin-left: 15px;
					text-transform: uppercase;
					font-size: 32px;
				}
			}
		}
		.row {
			margin-bottom: 50px;
		}
	}
}




.standardHeader {
	background-color: $background-ltGrey;
	padding: 7px 0px 7px 10px;
	width: 100%;
	margin-bottom:15px;
	border-bottom: 1px solid $line-grey;
	position: relative;

	p {
		padding:2px 0 0 0;
		margin:0;
		line-height: 1;
	}

	.headerLabel {
		font-size: 13px;
		font-weight: 300;
		color: #4A4A4A;
	}

	.headerLabel-large {
		font-size: 18px;
	}
}





.data-container {
	padding: 0 10px;
	margin-top: -10px;
	margin-bottom: 40px;

	p {
		margin-bottom: 4px;
		font-size: 14px;
	}

	a {
		color: $link-blue;
		text-decoration: none;

		&:hover {
			color: $link-blue;
			text-decoration: none;
		}
	}

	table {
		width: 100%;

		tr {
			td {
				font-size: 15px;
				text-align: center;
  				padding: 4px 0;
  				white-space: nowrap;
  				overflow: visible;
  				width: 90px;

  				span {
  					font-weight: 600;
  				}
			}
			.FY-end-text span {
				display: block;
				font-size: 14px; 
				font-weight: 300 !important;
				margin-top:10px;
				letter-spacing: .5px;
				}
			.label {
				text-align: left;
			}
			.data {
				text-align: right;
			}
		}

		th {
			font-size: 13px;
  			padding: 3px 0;
  			text-align: center;

  			span {
  				font-weight: 400;	
  			}
		}
		.label {
			text-align: left;
			font-weight: 400;
			font-size: 15px;
			width: 90px;
		}

		tbody {
			tr {
				&:hover  {
					background-color: $background-ltGrey;
				}
			}
		}
	}
}



.chart__yearly {
	.c3-target-data1 {
		.c3-line {
    		stroke-width: 2px;
    	}
    }
    .c3-target-data2 {
    	.c3-line {
	    	stroke-dasharray: 5;
	    	stroke-width: 2px;
	    }
	}
	.c3-ygrids {
		line {
			stroke: #ececec;
			stroke-dasharray: 1;
		}
	}
	.chart__container {
		border: 1px solid #cccccc;
		padding-top:10px;
		height: 250px;

		#mainChart {
			margin-top:15px;
		}

		.chart__toggle {
			margin-left:62px;

			.radio {
				margin-right: 20px;
				float: left;

				label {
					font-weight: 700;
				}
			}
			.checkbox {
				float: left;

				label {
					font-weight: 700;
				}
				input {
					margin-right: 5px;
				}
			}
		}
	}
}

.pgr-chart__overlay {
	display:block;
	height: 12px;
	width: 88%;
	overflow: hidden;
	float: right;
	padding:0 5px 0 0 !important;
	margin-top:-5px !important;

	.pgr-chart {
		display:block;
		height: 12px;
		float: left;
	}
	.pgr-chart--bullish {
		background-color: #24A300;
	}
	.pgr-chart--neutral {
		background-color: #FF9900;
	}
	.pgr-chart--bearish {
		background-color: #EB001c;
	}
}





























